body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #1e3a8a, #0f172a);
}

.buttons a {
  margin: 10px;
  text-decoration: none;
  color: #38bdf8;
}

.btn {
  padding: 10px 20px;
  background: #22c55e;
  color: white;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 50px 20px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.tech {
  color: #22c55e;
}

/* TIMELINE */
.timeline div {
  margin-bottom: 20px;
}

/* SKILL BAR */
.bar {
  background: #334155;
  height: 8px;
  border-radius: 5px;
}

.fill {
  background: #22c55e;
  height: 100%;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
}